body {
  background-color: #ffe5f0;
  display: flex;
  justify-content: center;
  height: 100vh;
  overflow: hidden;
  margin-top: 50px;
}
.header {
  padding: 10px;
  color: #d36c6c;
  font-size: 26px;
  align-items: center;
  font-family: sans-serif;
  display: grid;
  justify-content: center;
}
.header div {
  display: flex;
  justify-content: space-between;
  color: #247ba0;

}
.header button {
 align-self: center;
 outline: none;
 background-color: #ffe5f0;
 border-color: transparent;
}
#container {
  width: 770px;
}
#weekdays {
  justify-content: center;
  display: flex;
  font-family: sans;
  color: #247ba0;
  font-size: 25px;
}
#weekdays div {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
}
#calendar {
  width: 100%;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
}
.day {
  width: 100px;
  padding: 10px;
  height: 100px;
  cursor: pointer;
  box-sizing: border-box;
  background-color: white;
  margin: 5px;
  box-shadow: 0px 0px 3px #CBD4C2;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.day:hover {
  background-color: #fcf7f9;
}

.paddingDay {
  cursor: default !important;
  background-color: #ffe5f0 !important;
  box-shadow: none !important;
}